<div class="main-content">
    
    <div class="row">
      <div class="column">
          <div class="Art-box">
              <img src="/assets/img2.png">
              
              <div class="desc">
                <div class="detail">
                  <div class="price">
                    <br>
                      Rs.5243
                  </div>
                  <br>
                  <div class="cart">
                    <i class='bx bx-cart'></i>
                    <i class='bx bx-heart'></i>                    
                    </div>
                </div>
               <div class="art-name">
                  <br>
                  
                  The Blue Angel</div>
              </div>
          </div>
          
          <br>   
          <div class="Art-box">
            <img src="/assets/img3.png">
            
            <div class="desc">
              <div class="detail">
                <div class="price">
                  <br>
                    Rs.3154
                </div>
                <br>
                <div class="cart">
                  <i class='bx bx-cart'></i>
                  <i class='bx bx-heart'></i>                    
                  </div>
              </div>
             <div class="art-name">
                <br>
                The World In Your Eyes</div>
            </div>
        </div>
        <br>
  
        
      </div>
      
  
   
  
   <div class="column">
  
  
  
  
  
  <div class="Art-box">
  <img src="/assets/img10.png">
  
  <div class="desc">
  <div class="detail">
    <div class="price">
      <br>
        Rs.7248
    </div>
    <br>
    <div class="cart">
      <i class='bx bx-cart'></i>
      <i class='bx bx-heart'></i>                    
      </div>
  </div>
  <div class="art-name">
    <br>
    The Unheard Screams</div>
  </div>
  </div>
  <br>
  
  
  
  
  </div>
  <div class="column">
    <div class="Art-box">
      <img src="/assets/img21.png">
      
      <div class="desc">
        <div class="detail">
          <div class="price">
            <br>
              Rs.700
          </div>
          <br>
          <div class="cart">
            <i class='bx bx-cart'></i>
            <i class='bx bx-heart'></i>                    
            </div>
        </div>
       <div class="art-name">
          <br>
          The Complete You</div>
      </div>
    </div>
    <br>
  
  </div>
  
  
  <div class="column">
  
  
 
    
    
    <div class="Art-box">
      <img src="/assets/img22.png">
      
      <div class="desc">
        <div class="detail">
          <div class="price">
            <br>
              Rs.4128
          </div>
          <br>
          <div class="cart">
            <i class='bx bx-cart'></i>
            <i class='bx bx-heart'></i>                    
            </div>
        </div>
       <div class="art-name">
          <br>
          Echo Me</div>
      </div>
    </div>
    <br>
    
   
    
  
    
  </div>
  </div>
  
  
  <div class="clearfix"></div>
  
  </div>
