


  <div class="main-content">
    
    <div class="row">
      <div class="column">
           
          <div class="Art-box">
            <img src="/assets/img3.png">
            
            <div class="desc">
              <div class="detail">
                <div class="price">
                  <br>
                    Rs.3154
                </div>
                <br>
                <div class="cart">
                  <i class='bx bx-cart'></i>
                  <i class='bx bx-heart'></i>                    
                  </div>
              </div>
             <div class="art-name">
                <br>
                The World In Your Eyes</div>
            </div>
        </div>
        <br>
  
        <div class="Art-box">
          <img src="/assets/img4.png">
          
          <div class="desc">
            <div class="detail">
              <div class="price">
                <br>
                  Rs.6758
              </div>
              <br>
              <div class="cart">
                <i class='bx bx-cart'></i>
                <i class='bx bx-heart'></i>                    
                </div>
            </div>
           <div class="art-name">
              <br>
              Colder Nights</div>
          </div>
      </div>
      <br>
  
      <div class="Art-box">
        <img src="/assets/img5.png">
        
        <div class="desc">
          <div class="detail">
            <div class="price">
              <br>
                Rs.114,223
            </div>
            <br>
            <div class="cart">
              <i class='bx bx-cart'></i>
              <i class='bx bx-heart'></i>                    
              </div>
          </div>
         <div class="art-name">
            <br>
            The Mountain View</div>
        </div>
    </div>
    <br>
  </div>
  
  
   <div class="column">
  <div class="Art-box">
    <img src="/assets/img7.png">
    
    <div class="desc">
      <div class="detail">
        <div class="price">
          <br>
            Rs.9765
        </div>
        <br>
        <div class="cart">
          <i class='bx bx-cart'></i>
          <i class='bx bx-heart'></i>                    
          </div>
      </div>
     <div class="art-name">
        <br>
        Venus</div>
    </div>
  </div>
  <br>
  
  
  
  
  <div class="Art-box">
  <img src="/assets/img10.png">
  
  <div class="desc">
  <div class="detail">
    <div class="price">
      <br>
        Rs.7248
    </div>
    <br>
    <div class="cart">
      <i class='bx bx-cart'></i>
      <i class='bx bx-heart'></i>                    
      </div>
  </div>
  <div class="art-name">
    <br>
    The Unheard Screams</div>
  </div>
  </div>
  <br>
  
  <div class="Art-box">
  <img src="/assets/img11.png">
  
  <div class="desc">
  <div class="detail">
    <div class="price">
      <br>
        Rs.4117
    </div>
    <br>
    <div class="cart">
      <i class='bx bx-cart'></i>
      <i class='bx bx-heart'></i>                    
      </div>
  </div>
  <div class="art-name">
    <br>
    Fearless</div>
  </div>
  </div>
  <br>
  </div>
  
  <div class="column">
  
  <div class="Art-box">
  <img src="/assets/img13.png">
  
  <div class="desc">
  <div class="detail">
    <div class="price">
      <br>
        Rs.994
    </div>
    <br>
    <div class="cart">
      <i class='bx bx-cart'></i>
      <i class='bx bx-heart'></i>                    
      </div>
  </div>
  <div class="art-name">
    <br>
    The 200th Hour</div>
  </div>
  </div>
  <br>
  
  <div class="Art-box">
  <img src="/assets/img14.png">
  
  <div class="desc">
  <div class="detail">
    <div class="price">
      <br>
        Rs.700
    </div>
    <br>
    <div class="cart">
      <i class='bx bx-cart'></i>
      <i class='bx bx-heart'></i>                    
      </div>
  </div>
  <div class="art-name">
    <br>
    The Complete You</div>
  </div>
  </div>
  <br>
  
  
  
  </div>
  
  
  <div class="column">
  
  
  <div class="Art-box">
      <img src="/assets/img30.png">
      
      <div class="desc">
        <div class="detail">
          <div class="price">
            <br>
              Rs.994
          </div>
          <br>
          <div class="cart">
            <i class='bx bx-cart'></i>
            <i class='bx bx-heart'></i>                    
            </div>
        </div>
       <div class="art-name">
          <br>
          The 200th Hour</div>
      </div>
    </div>
    <br>
    
    <div class="Art-box">
      <img src="/assets/img21.png">
      
      <div class="desc">
        <div class="detail">
          <div class="price">
            <br>
              Rs.700
          </div>
          <br>
          <div class="cart">
            <i class='bx bx-cart'></i>
            <i class='bx bx-heart'></i>                    
            </div>
        </div>
       <div class="art-name">
          <br>
          The Complete You</div>
      </div>
    </div>
    <br>
    
    
    
    <div class="Art-box">
      <img src="/assets/img15.png">
      
      <div class="desc">
      <div class="detail">
        <div class="price">
          <br>
            Rs.4128
        </div>
        <br>
        <div class="cart">
          <i class='bx bx-cart'></i>
          <i class='bx bx-heart'></i>                    
          </div>
      </div>
      <div class="art-name">
        <br>
        Echo Me</div>
      </div>
      </div>
      <br>
    
    
    <div class="Art-box">
      <img src="/assets/img25.png">
      
      <div class="desc">
        <div class="detail">
          <div class="price">
            <br>
              Rs.5163
          </div>
          <br>
          <div class="cart">
            <i class='bx bx-cart'></i>
            <i class='bx bx-heart'></i>                    
            </div>
        </div>
       <div class="art-name">
          <br>
          ---</div>
      </div>
    </div>
    <br>
    
    </div> 
  </div>
  
  
  <div class="clearfix"></div>
  
  </div>
