<div class="main-content">
    
  <div class="row">
    <div class="column">
        <div class="Art-box">
            <img src="/assets/img2.png">
            
            <div class="desc">
              <div class="detail">
                <div class="price">
                  <br>
                    Rs.5243
                </div>
                <br>
                <div class="cart">
                  <i class='bx bx-cart'></i>
                  <i class='bx bx-heart'></i>                    
                  </div>
              </div>
             <div class="art-name">
                <br>
                
                The Blue Angel</div>
            </div>
        </div>
        
        <br>   
        
      <div class="Art-box">
        <img src="/assets/img4.png">
        
        <div class="desc">
          <div class="detail">
            <div class="price">
              <br>
                Rs.6758
            </div>
            <br>
            <div class="cart">
              <i class='bx bx-cart'></i>
              <i class='bx bx-heart'></i>                    
              </div>
          </div>
         <div class="art-name">
            <br>
            Colder Nights</div>
        </div>
    </div>
    <br>

    <div class="Art-box">
      <img src="/assets/img5.png">
      
      <div class="desc">
        <div class="detail">
          <div class="price">
            <br>
              Rs.114,223
          </div>
          <br>
          <div class="cart">
            <i class='bx bx-cart'></i>
            <i class='bx bx-heart'></i>                    
            </div>
        </div>
       <div class="art-name">
          <br>
          The Mountain View</div>
      </div>
  </div>
  <br>


</div>


 <div class="column">
<div class="Art-box">
  <img src="/assets/img7.png">
  
  <div class="desc">
    <div class="detail">
      <div class="price">
        <br>
          Rs.9765
      </div>
      <br>
      <div class="cart">
        <i class='bx bx-cart'></i>
        <i class='bx bx-heart'></i>                    
        </div>
    </div>
   <div class="art-name">
      <br>
      Venus</div>
  </div>
</div>
<br>

<div class="Art-box">
<img src="/assets/img8.png">

<div class="desc">
  <div class="detail">
    <div class="price">
      <br>
        Rs.7231
    </div>
    <br>
    <div class="cart">
      <i class='bx bx-cart'></i>
      <i class='bx bx-heart'></i>                    
      </div>
  </div>
 <div class="art-name">
    <br>
    Ballet For The Two</div>
</div>
</div>
<br>

<div class="Art-box">
<img src="/assets/img9.png">

<div class="desc">
<div class="detail">
  <div class="price">
    <br>
      Rs.8967
  </div>
  <br>
  <div class="cart">
    <i class='bx bx-cart'></i>
    <i class='bx bx-heart'></i>                    
    </div>
</div>
<div class="art-name">
  <br>
  Lazy Dawn</div>
</div>
</div>
<br>







</div>
<div class="column">








<div class="Art-box">
<img src="/assets/img17.png">

<div class="desc">
<div class="detail">
  <div class="price">
    <br>
      Rs.17,722
  </div>
  <br>
  <div class="cart">
    <i class='bx bx-cart'></i>
    <i class='bx bx-heart'></i>                    
    </div>
</div>
<div class="art-name">
  <br>
  The Beach View</div>
</div>
</div>
<br>


<div class="Art-box">
<img src="/assets/img18.png">

<div class="desc">
<div class="detail">
  <div class="price">
    <br>
      Rs.5163
  </div>
  <br>
  <div class="cart">
    <i class='bx bx-cart'></i>
    <i class='bx bx-heart'></i>                    
    </div>
</div>
<div class="art-name">
  <br>
  ---</div>
</div>
</div>
<br>

<div class="Art-box">
<img src="/assets/img19.png">

<div class="desc">
<div class="detail">
  <div class="price">
    <br>
      Rs.60,662
  </div>
  <br>
  <div class="cart">
    <i class='bx bx-cart'></i>
    <i class='bx bx-heart'></i>                    
    </div>
</div>
<div class="art-name">
  <br>
  Mirrored-1</div>
</div>
</div>
</div>
<br>

<div class="column">


<div class="Art-box">
    <img src="/assets/img30.png">
    
    <div class="desc">
      <div class="detail">
        <div class="price">
          <br>
            Rs.994
        </div>
        <br>
        <div class="cart">
          <i class='bx bx-cart'></i>
          <i class='bx bx-heart'></i>                    
          </div>
      </div>
     <div class="art-name">
        <br>
        The 200th Hour</div>
    </div>
  </div>
  <br>
  

  
  <div class="Art-box">
    <img src="/assets/img22.png">
    
    <div class="desc">
      <div class="detail">
        <div class="price">
          <br>
            Rs.4128
        </div>
        <br>
        <div class="cart">
          <i class='bx bx-cart'></i>
          <i class='bx bx-heart'></i>                    
          </div>
      </div>
     <div class="art-name">
        <br>
        Echo Me</div>
    </div>

  </div>

  <br>
  
  <div class="Art-box">
    <img src="/assets/img6.png">
    
    <div class="desc">
      <div class="detail">
        <div class="price">
          <br>
            Rs.6348
        </div>
        <br>
        <div class="cart">
          <i class='bx bx-cart'></i>
          <i class='bx bx-heart'></i>                    
          </div>
      </div>
     <div class="art-name">
        <br>
        The Chaos Of the Calmest</div>
    </div>
</div>
</div>
<br>

</div>
  
  
  
  
  

<div class="clearfix"></div>

</div>